<footer class="footer mt-auto py-3 mt-3 bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          I am freelance web development. I hope i can made a lot of this since
          i learn coding. Yes, i am self thaught programmer.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact Me</h5>
        <p>
          <i class="fas fa-map-marker-alt"></i> Pagaden, Subang, West Java,
          Indonesia (41252)
        </p>
        <p><i class="fas fa-phone"></i> +62859106987411</p>
        <p><i class="fas fa-envelope"></i> dewaalher04@gmail.com</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Me</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-decoration-none text-dark"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
            ><i class="fab fa-twitter"></i> Twitter</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
            ><i class="fab fa-instagram"></i> Instagram</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
              ><i class="fab fa-youtube"></i> Youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
